# Maven build outputs
target/
dependency-reduced-pom.xml

# Local Database & Storage
*.db
*.sqlite

# IDE and Project Settings
.idea/
*.iml
.classpath
.project
.settings/

# Default ignored files
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml